---
const navItems = {
  Contact: '#footer',
  Blogs: '/blogs'
}
---

<header
  id="header"
  aria-label="Header"
  class="wrapper py-6 items-baseline justify-between">
  <a
    href="/"
    class="text-base md:text-xl text-zinc-300 font-medium hover:text-zinc-50 duration-[400ms] transition-all"
    >AYUSHKUMAR</a
  >
  <nav class="flex gap-6 md:gap-10">
    {
      Object.entries(navItems).map(([name, link]) => (
        <a
          href={link}
          class="text-sm md:text-xl font-medium text-zinc-300 hover:text-zinc-50 duration-[400ms]">
          {name}
        </a>
      ))
    }
  </nav>
</header>
