---

---

<header id="header" aria-label="Header">
  <div class="wrapper py-6 items-center justify-between">
    <p class="text-2xl text-zinc-300">AYUSHKUMAR</p>
    <a href="#footer" class="text-xl font-semibold text-zinc-300">Contact</a>
  </div>
</header>
