---
import { figma } from '../data/link'
---

<section id="hero">
  <div class="wrapper font-semibold flex flex-col pt-20">
    <p>
      Hello. I'm <span class="text-white">Ayush Kumar</span>, a <span
        class="text-white">Full-stack Developer</span
      > and <a href={figma} target="_blank" rel="noopener" class="text-white hover:border-b-[0.00625rem] delay-200 ease-in-out duration-[300ms]">
        Designer</a
      > with a Deep passion for Creating Beautiful Web Experiences that Inspire and
      Engage users.
    </p>
    <p class="mt-10">
      I'm working at <a
        href="https://growigh.com/"
        target="_blank"
        class="text-white hover:border-b-[0.00625rem] delay-200 ease-in-out duration-[300ms]">Gro<span class="text-growigh">w</span>igh</a
      >, a <span class="text-white">Creative</span> Web Agency that focuses on User
      Experience. I also give some of My Time to <span class="text-white"
        >Robotics</span
      >, will build something, Learning & Exploring now.
    </p>
  </div>
</section>
