---

---
<section id="hero" class="hero">
  <div class="wrapper bg-black">
    <div class="text-5xl font-bold flex flex-col gap-3 pt-20 leading-[110%]">
      <p>
        Hello. I'm <span class="text-white">Ayush Kumar</span>, a <span class="font-mono text-white">Full-stack developer</span> and <span class="font-highlight text-white">Designer</span> with a deep
        passion for creating beautiful web experiences that inspire and engage
        users.
      </p>
      <p>
        I started <a href="https://growigh.com/" target="_blank" class="text-white font-logo text-[50px]">Gro<span class="text-growigh">w</span>igh</a>, a <span class="text-white font-highlight">Creative</span> web agency that focuses on <span class="text-white">User Experience</span>.
      </p>
      <p class="">I also give some of my time to <span class="text-white">Robotics</span>, will build something, learning & exploring now.</p>
    </div>
  </div>
</section>
