---
import { Picture } from 'astro:assets'
import { product } from '../data/product'
---

<section id="product">
  <div class="wrapper flex-col mt-48">
    <h2 class="font-semibold text-zinc-200">Launched so far</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8">
      {
        product.map(item => (
          <a
            href={item.liveLink}
            target="_blank"
            class="flex flex-col custom-cursor transition-all duration-200">
            <Picture
              src={item.image}
              alt="Product logo"
              class="w-auto object-contain"
              loading="lazy"
              fallbackFormat="png"
              formats={['avif', 'webp']}
              draggable="false"
            />
            <div class="mt-4 text-zinc-300 font-mono flex flex-col gap-1">
              <p class="font-medium text-lg md:text-xl">{item.name}</p>
            </div>
          </a>
        ))
      }
    </div>
    <p class="mt-40">
      I Believe that knowing How to Sell and tell your Story is as Important as
      Building a Great Product. That's why I spend my time Learning Business
      Strategy, understanding Human Psychology, and reading books on Design,
      Storytelling, and Startups.
    </p>
  </div>
</section>
